/* Container du formulaire */
.container {
  display: flex;
  justify-content: center; /* Centrer le formulaire horizontalement */
  align-items: center; /* Centrer le formulaire verticalement */
}

/* Styles du formulaire */
.form {
  background: #fff;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form h1 {
  font-size: 24px; /* Taille légèrement réduite pour plus de discrétion */
  font-weight: 600; /* Poids de police plus léger */
  color: #333;
  margin-bottom: 10px;
  
}

.form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Styles des champs de saisie */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espacement légèrement augmenté pour plus d'aération */
}

.input-group input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px; 
  font-size: 16px;
  background-color: #f9f9f9; 
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s; 
  width: 264px;
}

.input-group input:focus {
  border-color: #B42424;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2); /* Ombre légère pour le focus */
}

/* Styles du bouton */
.button-signupForm {
  padding: 12px;
  border: none;
  border-radius: 6px; /* Coins légèrement arrondis */
  background-color: #B42424;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transition fluide pour hover */
}

.button-signupForm:hover {
  background-color: #B42424;
  transform: translateY(-2px); /* Léger effet de survol */
}

.button-signupForm:active {
  transform: translateY(0); /* Retour à la position initiale lors du clic */
}
