.map-description-container {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Hauteur minimale de la vue pour s'assurer que le conteneur couvre toute la hauteur */
  box-sizing: border-box; /* Assure que le padding est inclus dans la hauteur totale */
  flex-wrap: wrap; /* Permet aux sections de se déplacer en dessous si nécessaire */
}

.map-section {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: flex-start; 
  margin-top: 80px;
  margin-bottom: 0px;
  box-sizing: border-box; /* Inclut le padding dans la taille totale de l'élément */
  overflow: hidden; /* Empêche le débordement horizontal */
}

.description-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  margin-top: 60px;
  margin-bottom: 0px;
  box-sizing: border-box; /* Inclut le padding dans la taille totale de l'élément */
}

.description-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

.description-section p {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 15px;
}

.description-section strong {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 15px;
}
