.kankueb-container {
  position: relative;
  text-align: justify;
  display: flex;
  flex-direction: column; /* Pour permettre une disposition en colonne */
  align-items: flex-start;
  padding: 50px;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.kankueb-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 40%;
  width: 600px;
  height: 600px;
  z-index: -1;
  background-image: url("../../assets/images/serp.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.3;
  filter: brightness(80%) blur(0px);
}

/* Section contenant les images et le premier bloc de texte */
.kankueb-header {
  display: flex;
  flex-direction: row; /* Les images et le texte sont alignés horizontalement */
  width: 100%;
  margin-bottom: 20px; /* Espacement entre le header et le reste du texte */
}

.kankueb-image-container {
  display: flex;
  flex-direction: column; /* Les images sont empilées verticalement */
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px; /* Espacement entre les images et le texte */
  flex-shrink: 0; /* Empêche les images de rétrécir */
}

.kankueb-image {
  width: 200px; /* Taille des images */
  height: auto;
  margin-bottom: 15px; /* Espacement entre les images */
  border: 2px solid white;
  border-radius: 8px; /* Coins arrondis pour les images */
}

.kankueb-content {
  flex-grow: 1; /* Permet au texte de prendre tout l'espace restant */
  text-align: justify;
}

.kankueb-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #d6d6d6;
  text-align: left;
}

.kankueb-text {
  font-size: 16px;
  color: #c5c4c4;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.8;
}

.kankueb-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.kankueb-list li {
  margin-bottom: 10px;
  color: beige;
}

.kankueb-list strong {
  color: beige;
}

/* Texte additionnel sous le header */
.kankueb-body {
  margin-top: 20px; /* Espacement entre le header et le reste du texte */
  width: 100%;
}
