/* Container du formulaire */
.login-container {
  display: flex;
  justify-content: center; /* Centre le formulaire horizontalement */
  align-items: center; /* Centre le formulaire verticalement */
}

/* Styles du formulaire */
.login-form, .forgot-password-form {
  background: #fff;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Dispose les éléments en colonne */
}

/* Styles des titres et paragraphes */
.login-form h1, .forgot-password-form h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.login-form p, .forgot-password-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.input-group input:focus {
  border-color: #B42424;
  outline: none;
}

/* Styles du bouton */
.button-login {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #B42424;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.button-login:hover {
  background-color: #8C1C1C;
}

/* Styles du lien "Volver a Iniciar sesión" */
.back-to-login {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #B42424;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}

/* Styles du lien "Mot de passe oublié" */
.forgot-password-link {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password-link span {
  color: #B42424;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link span:hover {
  text-decoration: underline;
}

.confirmation-message {
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}