/* Styles pour la modale */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px; /* Arrondir les coins pour une apparence plus douce */
    width: 80%; /* Ajuster la largeur */
    max-width: 400px; /* Limiter la largeur maximale */
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Overlay sombre pour contraster avec la modale */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
  }
  
  /* Styles spécifiques au titre de la modale */
  .modal-title {
    text-align: center; /* Centrer le titre horizontalement */
    margin-bottom: 20px; /* Espacement entre le titre et le champ d'email */
  }
  
  /* Styles pour le formulaire de réinitialisation du mot de passe */
  .reset-password-form {
    display: flex;
    flex-direction: column; /* Alignement vertical des éléments du formulaire */
  }
  
  .reset-password-form button {
    margin-top: 20px; /* Espacement au-dessus du bouton */
  }
  